.post {
    position: relative;
    width: 42%;
    height: 20%;
    background: #fff;
    box-shadow:0 4px 10px 0 rgba(17, 4, 63, 0.2),0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 10px auto;
    float:left;
    border-radius: 15px;
}
    
.post-left {
        width: 15%;            
        max-width: 15%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        color: #000;
}
.post-content {
        width: 75%;           
        display: table-cell;
        text-align: left;
        background-color: #E8E8E8;
        color: #000000;
        border-radius: 0 15px 15px 0;
        padding: 0 20px;      
}
.post-title{
    font-family: 'Itim', cursive;
    font-weight: bold;
    color: #2b312b;
    font-size: 25px;
    height: 25px;
    width: 70%;
    overflow: hidden;
    }
.post-more {
    float: right;
    cursor: pointer;
    font-size: 18px;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
    font-size: 30px;
}
.post-desc{
    height: 100px;
    margin-bottom: 0 !important;
    width: 90%;
    overflow: hidden;
    line-height: 1.2em;
    max-height: 3.6em;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 !important;
    color: #fff;
    background: orange !important;
    overflow: auto !important;
    background-size: 2000% 2000%;
}
.allPostsContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.openpost-btn{
    font-size: 30px;
    font-weight: bolder;
    text-align: end;
    padding: 10px;
    margin-top: 5px;
}
.openpost-btn a{
    text-decoration: none;
    color: #000000;
}
.trash-icon{
    float: right;
    font-size: 25px;
    margin: 10px 0px;
}
.modal .modalContent{
    color: #000;
}

/* style for Sign Up & Sign In Modal */
.deleteModalPopup{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 250px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    color: #000;
 }

 
 /* Style for the Modal Content */
 .deleteModalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 15px 20px;
    border: 1px solid #888;
    width: 30%;
 }

 .deleteModalContent p{
    text-align: center;
    font-size: large;
    font-weight: bolder;
 }
 .delete-btn-container{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     padding: 10px;
 }
 .delete-btn{
    color: white;
    padding: 10px 50px;
    border: none;
 }
.delete-btn-yes{
    background-color: red;
}
.delete-btn-no{
    background-color: green;
}