.blogTite {
    font-size: 150%;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
}
.blogText {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.blogAuthor {
    padding: 0px 0px 0px 50px;
    font-family: 'Niconne', cursive;
    font-size: 30px;
}

/* Set a style for all the remaining elements like Like button, Edit button, Comment button and so on. */

/* Styles for formatting blog title */

#blogTitleNew{
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    justify-content: center;
    text-decoration-line: initial;
    text-align: center;
    margin: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
}

 /* Styles for formatting blog body */

#blogBody{
    padding: 0px 50px 0px 50px;
    justify-content: center;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Styles for formatting edit button */

#editButton{
    background-color:red;
    color: white;
    float: right;
    cursor: pointer;
    width: 70px;
    height: 30px;
    margin: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1.5px;
    padding-right: 1.5px;
    margin-right: 50px;
    border: 0px;
}


/* Styles for formatting like button */

#likeButton{
    background-color:red;
    color: white;
    float: left;
    cursor: pointer;
    width: 80px;
    height: 30px;
    margin: 10px 10px 10px 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1.5px;
    padding-right: 1.5px;
    margin-left: 60px;
    border: 0px;
    border-radius: 5px;

}

/* Styles to define display look for comment view section */

#commentCount{
    margin-left: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#addList{
    background-color:red;
    color: white;
    float: left;
    cursor: pointer;
    width: 80px;
    height: 30px;
    margin: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1.5px;
    padding-right: 1.5px;
    margin-left: 60px;
    border: 0px;
}

#userComments{
    margin-left: 60px;
}

#addComment{
    margin-left: 50px;
}

#commentHeading{
    margin-left: 60px;
    font-weight: bold;
}

p{
    background-color: white;
    color: black;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    
}

#commentBox{
    background-color: lightgrey;
    margin-left: 60px;
    width: 55%;
}



